In [ ]:
import mysql.connector
import pandas as pd
from datetime import date, datetime, timedelta
from sqlalchemy import create_engine
import pymysql

## Criando um DataFrame a partir da DW1

In [ ]:
#Conection:
con = mysql.connector.connect(host='192.168.15.8',database='academia',user='user',password='user!123')
# you must create a Cursor object. It will let you execute all the queries you need
cursor = con.cursor()

# salvando a query em um dataframe

df = pd.read_sql("SELECT * FROM DW_1\
                WHERE NOT EXISTS(SELECT * FROM DW_2 WHERE DW_1.`Código de cliente` = DW_2.`Código de cliente`)\
                ORDER BY `data última presença`\
                limit 100", con);
cursor.close()
con.close()
df.drop('index', axis=1, inplace = True)
df.head(3)

## Atualizando o DW2

In [ ]:
sqlEngine       = create_engine('mysql+pymysql://user:user!123@192.168.15.8:3306/academia', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

try:

    df.to_sql('dw_2', dbConnection, if_exists='append');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

finally:

    dbConnection.close()

## Criando um DataFrame a partir da DW1 (Azure)

In [ ]:
con = mysql.connector.connect(host='academiadb1.mysql.database.azure.com',
                              database='academia',
                              user='ralmeida@academiadb1',
                              password='sQL#2022',
                              ssl_disabled= True)
cursor = con.cursor()
df = pd.read_sql("SELECT * FROM DW_1 limit 100", con);
cursor.close()
con.close()
df.drop('index', axis=1, inplace = True)
df.head(3)

## Atualizando o DW2 (Azure)

In [ ]:
sqlEngine       = create_engine('mysql+pymysql://ralmeida@academiadb1:sQL#2022@academiadb1.mysql.database.azure.com:3306/academia', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

try:

    df.to_sql('dw_2', dbConnection, index=False,if_exists='replace');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

finally:

    dbConnection.close()

## Exportar todos os registros do DW2 para CSV

In [ ]:
#Conection:
con = mysql.connector.connect(host='192.168.15.8',database='academia',user='user',password='user!123')
# you must create a Cursor object. It will let you execute all the queries you need
cursor = con.cursor()

# salvando a query em um dataframe

df = pd.read_sql("SELECT * FROM DW_2", con);

cursor.close()
con.close()
df.drop('index', axis=1, inplace=True)
df.head(1)

In [ ]:
df.to_csv('pompeia.csv', index=False)

=========================================