In [1]:
import mysql.connector
import pandas as pd
from datetime import datetime, timedelta
from sqlalchemy import create_engine
import pymysql

## Criando um DataFrame a partir da DW1

In [ ]:
#Conection:
con = mysql.connector.connect(host='192.168.15.8',database='academia',user='user',password='user!123')
# you must create a Cursor object. It will let you execute all the queries you need
cursor = con.cursor()

# salvando a query em um dataframe

df = pd.read_sql("SELECT * FROM DW_1\
                WHERE NOT EXISTS(SELECT * FROM DW_2 WHERE DW_1.`Código de cliente` = DW_2.`Código de cliente`)\
                ORDER BY `data última presença`\
                limit 100", con);
cursor.close()
con.close()
df.drop('index', axis=1, inplace = True)
df.head(3)

## Atualizando o DW2

In [ ]:
sqlEngine       = create_engine('mysql+pymysql://user:user!123@192.168.15.8:3306/academia', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

try:

    df.to_sql('dw_2', dbConnection, if_exists='append');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

finally:

    dbConnection.close()

## Criando um DataFrame a partir da DW1 (Azure)

In [2]:
con = mysql.connector.connect(host='academiadb1.mysql.database.azure.com',
                              database='academia',
                              user='ralmeida@academiadb1',
                              password='sQL#2022',
                              ssl_disabled= True)
cursor = con.cursor()
df = pd.read_sql("SELECT * FROM DW_1 limit 100", con);
cursor.close()
con.close()
df.drop('index', axis=1, inplace = True)
df.head(3)

,Código de cliente,Nascimento,Sexo,Consultor,Professor,Modalidade,Como Conheceu,data última presença,hora última presença
0,12019,1964-09-28,Feminino,SANDRA DANTAS,SEM PROFESSOR,PLANO COMPLETO,INDICAÇÃO,2021-01-07,1900-01-01 08:28:00
1,12916,1981-03-30,Masculino,DANDARA MORERIO,SEM PROFESSOR,PLANO COMPLETO,E-MAIL,2021-01-22,1900-01-01 12:25:00
2,14156,2009-12-23,Masculino,LAIS VASQUES PIMENTA,SEM PROFESSOR,PLANO COMPLETO,FACHADA,2021-02-15,1900-01-01 11:58:00

In [3]:
con = mysql.connector.connect(host='academiadb1.mysql.database.azure.com',
                              database='academia',
                              user='ralmeida@academiadb1',
                              password='sQL#2022',
                              ssl_disabled= True)
cursor = con.cursor()
df.to_sql('dw_2', con, index=False,if_exists='replace');
cursor.close()
con.close()
df.drop('index', axis=1, inplace = True)

/home/ralmeida/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

## Atualizando o DW2 (Azure)

In [ ]:
sqlEngine       = create_engine('mysql+pymysql://ralmeida@academiadb1:sQL#2022@academiadb1.mysql.database.azure.com:3306/academia', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

try:

    df.to_sql('dw_2', dbConnection, index=False,if_exists='replace');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

finally:

    dbConnection.close()

## Exportar todos os registros do DW2 para CSV

In [ ]:
#Conection:
con = mysql.connector.connect(host='192.168.15.8',database='academia',user='user',password='user!123')
# you must create a Cursor object. It will let you execute all the queries you need
cursor = con.cursor()

# salvando a query em um dataframe

df = pd.read_sql("SELECT * FROM DW_2", con);

cursor.close()
con.close()
df.drop('index', axis=1, inplace=True)
df.head(1)

In [ ]:
df.to_csv('pompeia.csv', index=False)